
.landing{
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
    color: #020307;
}
.container-fluid.yellow{
    background-color: rgba(246,219,175,.5);
    z-index: 1;
}
.col-lg-6.hero-left{
    background-image: url(../assets/images/wine-pour-1000.png);
    min-height: 576px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero-logo-container{
    background-color: rgba(116,74,73,.85);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 576px;
    position: absolute;
}
.hero-logo{
    color: rgba(246,219,175,1);
    width: 80%;
    margin: auto;
    text-align: center;
    transform: translateY(30%);
}
.hero-logo h1{
    font-family: 'Lora', serif;
    font-size: 10em;
    width: 45%;
    margin: auto;
}
.hero-logo h2{
    font-family: 'Crimson Text', serif;
    font-size: 2.4em;
    font-weight: 400;
    letter-spacing: .94px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.flip{
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.col-lg-6.hero-right {
    padding-left: 5%;
    padding-right: 5%;
}
.links-container-right{
    padding-top: 20px;
    padding-bottom: 40px;
}
.links-container-right a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-right: 15px;
    color: #020307;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    text-decoration: none;
}
.links-container-right a:hover{
     text-decoration: none;
     color: #744A49;
     
}
.links-container-right a:visited{
    text-decoration: none;
     color: #020307;
}
.intro-text, .vinyards-right{
    letter-spacing: 1.02px;
    line-height: 1.6;
    padding-top: 30px;
    width: 95%;
    max-width: 1024px;
}
.mobile-nav{
    display: none;
}
.responsive-menu{
	display: none;
    width: 50%;
    float: right;
    background-color: rgba(116,74,73,1);
    margin-right: 10px;
    margin-top: 20px;
    z-index: 100;
    position: absolute;
    margin-left: 70px;
/*
     -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
     transition: all 2s ease-in-out;
*/
}
.responsive-menu a {
    list-style: none;
    padding: 10px 0;
    font-size: .8em;
    color: rgba(246,219,175,1);
}
.responsive-menu li{
    list-style-type: none;
}
.intro-text p{
    padding-bottom: 10px;
    font-size: 1.2em;
}
.intro-text button{
    background-color: #744A49;
    border: none;
    color: rgba(246,219,175,1);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1.79px;
    
    max-width: 200px;
    width: 100%;
        
}

/* BEGIN BUTTON EFFECTS */

.intro-text button:hover,
.intro-text button:active {
/*  letter-spacing: 4px;*/
}

.intro-text button:after,
.intro-text button:before {
  backface-visibility: hidden;
  border: 1px solid rgba(246,219,175,0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.intro-text button:hover:after,
.intro-text button:hover:before {
  backface-visibility: hidden;
  border-color: rgba(246,219,175,1);
  transition: width 350ms ease-in-out;
  width: 100%;
/*    border: 1px solid rgba(246,219,175,1);*/
/*    box-shadow: 1px 1px 1px rgba(246,219,175,1);*/
}

.intro-text button:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
/* END BUTTON EFFECTS */


.wines-container{
    background-image: url(../assets/images/corks.png);
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% auto;
    padding-top: 100px;
}

 .vinyard-container .vinyards-left, .purchase-container .purchase-left, .footer .footer-left{
    padding-left: 350px;
}
.wines-left h2, .vinyards-left h2, .purchase-left h2 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 2em;
    letter-spacing: .8px;
}
.horizontal-line-red, .horizontal-line-red-vinyards, .horizontal-line-red-purchase {
    width: 92px;
    height: 8px;
    background-color: #744A49;
}
.wines-container button{
    background-color: #744A49;
    border: none;
    color: rgba(246,219,175,1);
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 1.4em;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1.62px;
    width: 600px;
    border: 2px solid rgb(246,219,175);
    box-shadow: 0px 0px 0px 10px #744A49;
}


.vinyard-container{
    background-image: url(../assets/images/vinyard.png);
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 115% auto;
}
.vinyard-container .layer {
    background-color: rgba(2,3,7,.55);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    position: relative;
    padding-top: 100px;
}
.vinyards-left h2{
    color: #fff;
}
.horizontal-line-red-vinyards{
    width: 145px;
}

.vinyards-right p{
    padding-bottom: 10px;
    color: #fff;
    font-size: 1.2em;
    width: 60%;
}

.purchase-container{
    background-color: rgba(246,219,175,.5);
    min-height: 800px;
    
}
.purchase-left h2{
    color: #020307
}

.horizontal-line-red-purchase{
    width: 152px;
}
.purchase-container .layer{
    padding-top: 100px;
}
.purchase-container .layer .purchase-right{
    padding-top: 30px;
    width: 60%;
}
.list-left {
    float: left;
    list-style-type: none;
    letter-spacing: 1.02px;
    line-height: 1.8;
    font-size: 1.4em;
}
.wine-bottle-right{
    float: right;
}

.footer {
    background-color: #744A49;
    height: 100px;
    
}
.footer-left {
    padding-top: 46px;
}
.footer-right {
    padding-top: 20px;
}
.footer .footer-left a{
    color: #F6DBAF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    padding-right: 15px;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-logo a{
    color: rgba(246,219,175,1);
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(50%);
}
.footer-logo a:hover{
    color: rgba(246,219,175,1);
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(50%);
    text-decoration: none;
}
.footer-logo h1{
    font-family: 'Lora', serif;
    font-size: 2em;
    width: 20%;
    margin: auto;
}
.footer-logo h2{
    font-family: 'Crimson Text', serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .94px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

@media screen and (max-width: 1350px){
    
}
@media screen and (max-width:1024px) {
    .hero-logo h1 {
        width:45%;
    }
    .intro-text {
        width:95%;
        padding-top: 0;
    }
    .intro-text button {
        margin-top: 10px;
    }
    .links-container-right {
        padding-bottom: 30px;
    }
    .links-container-right a{
        font-size: 1em;
    }
}
@media screen and (max-width:1280px) {
    .links-container-right a{
        font-size: 1em;
    }
}
@media screen and (max-width:1113px) {
    .mobile-nav {
        display: inline-block;
        width: 100%;
        font-size: 1.6em;
    }
    .mobile-nav .fa-bars{
        display: inline-block;
        float: right;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .links-container-right {
        display: none;  
    }
    
        
}
    
}